html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

.header {
  height: 20%;
  text-align: center;
  background-color: rgb(0, 9, 134);
  color: white;
  font-size: 30px;
  position: relative;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.main img{
  margin-top: 3%;
  margin-left: 400px;
  padding: 0px 10px;
}

.main p{
  margin-left: 250px;
  margin-right: 250px;
  font-family: Arial;
  font-size: 18px;
  color: rgb(255, 255, 255);
  position: relative;
  text-align: left;
}

.intro p{
  margin-top: -10%;
  margin-left: 700px;
  margin-right: 550px;
  font-family: Arial;
  font-size: 15px;
  color: rgb(255, 255, 255);
  position: relative;
  text-align: left;
}

.intro h2 {
  margin-top: -3%;
  margin-left: 700px;
  margin-right: 250px;
  font-family: Arial;
  font-size: 40px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: left;
}

.moreAboutMe h2{
  margin-top: 6%;
  margin-left: 600px;
  margin-right: 250px;
  font-family: Arial;
  font-size: 40px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: left;
}

.moreAboutMe h3{
  margin-top: 10%;
  margin-left: 650px;
  margin-right: 250px;
  font-family: Arial;
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: left;
}

.moreAboutMe p{
  margin-top: 5%;
  margin-left: 300px;
  margin-right: 350px;
  font-family: Arial;
  font-size: 23px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: left;
}

.moreAboutMe h4{
  margin-top: 20%;
  margin-left: 600px;
  margin-right: 250px;
  font-family: Arial;
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: left;
}



/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
