body {
  font-family: "Lato", sans-serif;
}
#homeVideo {
  position: fixed;
  height:100%;
  width:105%;
}
.videoheader {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 85%;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 20px;
  margin-left: 80px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover{
  color: #f1f1f1;
}
.main {
  margin-left: 40px;
  font-size: 28px;
}
/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
