html, body {
  font-family: "Lato", sans-serif;
  margin-left: 90px;
  padding: 0;
  background: #FAFAD2;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

.header{
  background-color:#FFD700;
}

.main {
  margin-left: 30px;
  margin: 10px;
  font-size: 30px;
}

.main h1{
    color: darkslategray;
    font-size: 50px;
    font-family: 'Source Serif 4', sans-serif;
    text-align: center;
}

.main h2{
  color: darkslategray;
  font-size: 30px;
  font-family: 'Source Serif 4', sans-serif;
}

.main h3{
  color: darkslategray;
  font-size: 25px;
  font-family: 'Source Serif 4', sans-serif;
  text-align: center;
}

.main p{
  font-size: 25px;
  color: slategray;
  text-align: justify;
  font-family: 'bitter';
  margin-left: 50px;
  padding-right:50px;
}

.main a:link{
    text-decoration: none;
    font-size:20px;
    color: cadetblue;
}

.main a:hover{
    text-decoration: underline;
}

.main a:visited{
    color: cadetblue;
}

.background{
  padding-top:20px;
}

.interest{
  padding-top:20px;
}

.personality{
  padding-top:20px;
}

/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */
