html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

/*.sidenav ul:hover .submenu{
  display: block;
  position: fixed;
  background-color: #111;
  margin-top: -100px;
  margin-left: 120px;
}*/


.main {
  margin-left: 180px;
  font-size: 18px;
}
/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */

.header{
  position:sticky;
  top:0;
}


nav li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
  float: left;
  display: block;
  color: white;
  font-family: verdana;
  font-size: 20px;
  padding: 10px;
  background-color:#abdea9;
  text-decoration: none;
}
nav a:link{
  text-decoration: none;
  display: inline;
  color: #035980;
  padding: 5px;
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
}
nav a:hover{
    text-decoration: underline;
}
nav a:visited{
    color: darkgreen;
}
section{
  padding-top: 50px;
}

h2{
  font-size:40px;
  text-align: center;
  border-color: darkgreen;
  padding-top:20px;
}
h4{
  background-color:#23692e;
;
  padding:5px;
}

h5{
  font-size: 15px;
}

th{
  text-align: center;
  padding:10px;
  background-color: #629c6b;
}

td{
  padding:5px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

/* TOC Code taken from https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217*/
