html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7b733;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

/*.sidenav ul:hover .submenu{
  display: block;
  position: fixed;
  background-color: #111;
  margin-top: -100px;
  margin-left: 120px;
}*/


.main {
  margin-left: 180px;
  font-size: 18px;
}

.Analy {
  margin-right: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #fc4a14;
  border-width:10px;
  border-style: solid;
  border-color: #4abdac;
  border-radius: 15px;
}
.intvid{
  text-align: center;
}

.heady{
  padding: 40px;
  width: auto;
  color:white;
  text-align: center;
  font-size: 35px;
  margin-left: 160px;
  background-color: #fc4a14;
  border-bottom: 15px solid #4abdac;
}

/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 1em;
    padding-right: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}
/* TOC Code taken from https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217*/

details > summary {
  padding: 4px;
  width: 98%;
  background-color: #74E7DB;
  border: 1px solid black;
  cursor: pointer;
}
details > p {
  background-color: #2EDCCA;
  padding: 4px;
  margin: 0;
  width: 98%;
}
