html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

.moontextbox {
  position: fixed;
  display: inline-block;
}
.moontextbox .text{
  position: absolute;
  z-index: 999;
  margin: 100 auto;
  top: 6%; /* Adjusts positioned text up and down */
  text-align: inherit;
  width: 76%; /* Sets width of the text */
  font-size: 20px;
}
.moonsecondbox{
    position: fixed;
    display: inline-block; /* Makes width box same as image */
    color:#361F1F;
    right: 15px;
    top: 150px;
}
.moonsecondbox .text{
    position: absolute;
    z-index: 999;
    margin: 100 auto;
    padding: 10px;
    padding-left: 50px;
    padding-right: 1px;
    top: 6%; /* Adjusts positioned text up and down */
    text-align: inherit;
    width: 76%; /* Sets width of the text */
    font-size: 17px;
}
.main {
  margin-left: 65px;
  font-size: 28px;
}
/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */
