html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #143F6B;
  overflow: auto;
  resize: both;
  height: 100%;
  width: 100%;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

.heading{

  padding: 10px;
  width: auto;
  background-size:cover;
  background-color: rgb(36,	36, 36);
  color:white;
  text-align: center;
  font-size: 35px;
  margin-left: 100px;
}

.sum {
  margin-right: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #ACACAC;
  border-width:10px;
  border-style: solid;
  border-top: 5px solid #F55353;
  border-right: 5px solid #F39440;
  border-left: 5px solid #26C485;
  border-bottom: 5px solid #FD5EA8;;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;

}

.group {
  margin-right: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #ACACAC;
  border-width:10px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 50px;
  border-top: 5px solid #E2C044;
  border-right: 5px solid #FD5EA8;
  border-left: 5px solid #F39440;
  border-bottom: 5px solid #26C485;
}

.plans {
  margin-right: 50px;
  font-size: 18px;
  text-align: center;
  background-color: #ACACAC;
  border-width:10px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 5px solid #FD5EA8;
  border-right: 5px solid #E2C044;
  border-left: 5px solid #E2C044;
  border-bottom: 5px solid #F55353;
}
.imagebox {
  padding: 10px;
  margin-left: 40%;
}
.main {
  margin-left: 160px;
  font-size: 18px;
  margin-left: 200px;
  margin-right: 50px;
}
