html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #143F6B;
  overflow: auto;
  resize: both;
  height: 100%;
  width: 100%;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

.heading{

    background-color:rgb(36, 36, 36);
    position: relative;
    z-index: 0;
    margin: 0 auto;
    left: 70px;
    right: 0;
    top: 0%; /* Adjust this value to move the positioned div up and down */
    text-align: inherit;
    width: 90%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size:30px;
    box-sizing: border-box;
}

.sum {
  background-color: #A7A7A7;
  position: relative;
  z-index: 0;
  margin-left: 120px;
  margin-top: 110px;
  margin-bottom: 0px;
  left: 190px;
  right: 0;
  top: -10%; /* Adjust this value to move the positioned div up and down */
  text-align: inherit;
  width: 1000px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size:15px;
  border-top: 5px solid #FD5EA8;
  border-right: 5px solid #F39440;
  border-left: 5px solid #F39440;
  border-bottom: 5px solid #D399FF;
  border-radius: 5px;
}

.group {
  background-color: #A7A7A7;
  position: relative;
  z-index: 0;
  margin-left: 120px;
  margin-top: 90px;
  margin-bottom: 80px;
  left: 190px;
  right: 0;
  top: -10%; /* Adjust this value to move the positioned div up and down */
  text-align: inherit;
  width: 1000px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size:15px;
  border-top: 5px solid #F55353;
  border-right: 5px solid #F39440;
  border-left: 5px solid #3891A6;
  border-bottom: 5px solid #26C485;
  border-radius: 5px;
}

.plans {
  background-color: #A7A7A7;
  position: relative;
  z-index: 0;
  margin-left: 120px;
  left: 190px;
  right: 0;
  top: -10%; /* Adjust this value to move the positioned div up and down */
  text-align: inherit;
  width: 1000px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size:15px;
  border-top: 5px solid #FD5EA8;
  border-right: 5px solid #E2C044;
  border-left: 5px solid #D399FF;
  border-bottom: 5px solid #F55353;
  border-radius: 3px;
}
.imagebox {
  padding: 10px;
  margin-left: 700px;
}
.main {
  margin-left: 65px;
  font-size: 28px;
}
