html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: #143F6B;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

/*.sidenav ul:hover .submenu{
  display: block;
  position: fixed;
  background-color: #111;
  margin-top: -100px;
  margin-left: 120px;
}*/


.main {
  margin-left: 180px;
  margin-right: 80px;
  font-size: 22px;
}
/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */

header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}
header:before {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url("TestImages/GerdAltmannPixabay.jpg") no-repeat
              bottom;
  background-size: cover;
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}
/* img source https://pixabay.com/illustrations/phone-art-wallpaper-background-7001771/ */
header:after {
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  transform: rotateZ(-4deg);
  z-index: 0;
}

.headertitle, .headersub {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.animate-pop-in {
  animation: pop-in 1s ease-out forwards;
}
/* Fade in Logo Code taken from https://cssanimation.rocks/animating-hero-header/ */

h1 {
  font-size: 50px;
}

h2 {
  text-align: center;
}
h4 {
  margin-left: 0px;
}

nav ul{
list-style-type: none;
margin:0 auto;
margin-left: 110px;
overflow: hidden;
background-color: #000000;
border:1px solid #A6F29F;
}
nav li{
float:left;
}
nav li a {
display:block;
color: #FFFFFF;
text-align: center;
padding:20px 20px;
text-decoration: none;
align: center;
font-family:"Amatic SC", cursive;
font-size:15px;
}
/* Change the link colour to #000000 (black) on hover to match my HR colour*/
nav li a:hover {
background-color: #E7717D;
}
/* Add a grey right border to all list items, last item (last-child) */
nav li{
border-right: 1px solid #A6F29F;
}

nav li:first-child{
border-left: 1px solid #A6F29F;
}

nav li:last-child {
border-right:1px solid #A6F29F;
}
