html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background: #143F6B;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

/*.sidenav ul:hover .submenu{
  display: block;
  position: fixed;
  background-color: #111;
  margin-top: -100px;
  margin-left: 120px;
}*/


.main {
  margin-left: 180px;
  margin-right: 80px;
  font-size: 22px;
}
/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */

/* Fade in Logo Code taken from https://cssanimation.rocks/animating-hero-header/ */

h1 {
  font-size: 50px;
}

h2 {
  text-align: center;
}
h4 {
  margin-left: 0px;
}

nav ul{
list-style-type: none;
margin:0 auto;
margin-left: 125px;
overflow: hidden;
background-color: #000000;
border:1px solid #A6F29F;
}
nav li{
float:left;
}
nav li a {
display:block;
color: #FFFFFF;
text-align: center;
padding:20px 20px;
text-decoration: none;
align: center;
font-family:"Amatic SC", cursive;
font-size:15px;
}
/* Change the link colour to #000000 (black) on hover to match my HR colour*/
nav li a:hover {
background-color: #E7717D;
}
/* Add a grey right border to all list items, last item (last-child) */
nav li{
border-right: 1px solid #A6F29F;
}

nav li:first-child{
border-left: 1px solid #A6F29F;
}

nav li:last-child {
border-right:1px solid #A6F29F;
}
