html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D3C0CD

}
.sidenav {
  height: 100%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul li a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -100px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}


.main {
  margin-left: 65px;
  font-size: 28px;
}

.box{
    position: relative;
     /* Make the width of box same as image */
    background-color: #6CA6C1;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 69px;
    top: 0%; /* Adjust this value to move the positioned div up and down */
    text-align: inherit;
    width: 72%;
    color: #FFE66D;
    /*padding: 5px 5px 5px 5px;*/
    text-align: center;
    font-size:30px
}
.pictures {
  background: #004BA8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width:15%;
  top:10%;
  margin-left: auto;
}

.pictures figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 150px;

}

.pictures figure img {
  border: 1px solid #004BA8;
  border-radius: 20%;
  box-shadow: gray 0 0 10px;
  width: 150px;
}

/* Code Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed */
/* Drop down help from https://www.youtube.com/watch?v=wHFflWvii3M and https://www.w3schools.com/css/css_dropdowns.asp */
