html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #143F6B;
  overflow: auto;
  resize: both;
  height: 100%;
  width: 100%;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav ul a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}
.sidenav ul li a:hover{
  color: #f1f1f1;
}

.dropdown {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  list-style: none;
}

.dropdown span:hover {
  color: #f1f1f1;
}

.submenu{
  display: none;
  position: fixed;
  background-color: #111;
  margin-top: -60px;
  margin-left: 110px;
  list-style: none;
  border-radius: 0px 15px 15px 0px;
}

.dropdown:hover .submenu {
  display: block;
}

.main {
  margin-left: 65px;
  font-size: 28px;
}

nav ul{
list-style-type: none;
margin:0 auto;
margin-left: 133px;
overflow: hidden;
background-color: #000000;
border:1px solid #A6F29F;
}
nav li{
float:left;
}
nav li a {
display:block;
color: #FFFFFF;
text-align: center;
padding:20px 97px;
text-decoration: none;
align: center;
font-family:"Lato", sans-serif;
font-size:13.5px;
}
/* Change the link colour to #000000 (black) on hover to match my HR colour*/
nav li a:hover {
background-color: #DB7F67;
}
/* Add a grey right border to all list items, last item (last-child) */
nav li{
border-right: 1px solid #A6F29F;
}

nav li:first-child{
border-left: 1px solid #A6F29F;
}

nav li:last-child {
border-right:1px solid #A6F29F;
}

.heading {
  background-color: #247BA0;
  position: fixed;
  z-index: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 260px;
  text-align: inherit;
  width: 1000px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size:15px;
  border-top: 5px solid #FD5EA8;
  border-right: 5px solid #E2C044;
  border-left: 5px solid #D399FF;
  border-bottom: 5px solid #F55353;
  border-radius: 3px;
}

.pictures {
  background: #143F6B;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width:15%;
  top:27%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 550px;
  position: fixed;
}

.pictures figure {
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  width: 450px;

}

.pictures figure img {
  border: 1px solid #143F6B;
  border-radius: 20%;
  box-shadow: gray 0 0 10px;
  width: 450px;
}

.subheading {
  background-color: #247BA0;
  position: fixed;
  z-index: 0;
  margin-top: 640px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 260px;
  text-align: inherit;
  width: 1000px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size:15px;
  border-top: 5px solid #FD5EA8;
  border-right: 5px solid #E2C044;
  border-left: 5px solid #D399FF;
  border-bottom: 5px solid #F55353;
  border-radius: 3px;
}
