html, body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: auto;
    resize: both;
    height: 100%;
    width: 100%;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav ul a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    list-style: none;
  }
  .sidenav ul a:hover{
    color: #f1f1f1;
  }

  .dropdown {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    list-style: none;
  }

  .dropdown span:hover {
    color: #f1f1f1;
  }

  .submenu{
    display: none;
    position: fixed;
    background-color: #111;
    margin-top: -60px;
    margin-left: 110px;
    list-style: none;
    border-radius: 0px 15px 15px 0px;
  }

  .dropdown:hover .submenu {
    display: block;
  }

  .header {
    height: 20%;
    text-align: center;
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 30px;
    position: relative;
    padding: 2px;
  }

  .main {
    margin-left: 160px;
    font-size: 18px;
    margin-left: 200px;
    margin-right: 50px;
  }

  .audit {
    margin-right: 50px;
    font-size: 18px;
    text-align: left;
    background-color: #808080;
    border-width:10px;
    border-style: solid;
    border-color: #222222;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
  }
  a:link {
    color:blue;
  }
  a:visited {

  }
  a:hover {
    color:green
  }
  a:active {
    color:yellow
  }
